/* Schriftart und Schriftgrösse generell */
main {
    font-family: helvetica;
    font-size: 130%;
}

/* Dekoration Hauptteil */
body {
    background: rgb(66, 170, 240);
    margin: 4% 20%;
    padding: 2%;
    box-shadow: 0px 0px 35px 35px rgba(62,85,230,1);
    border: 2px solid black;
}

/* Position Navigation */
header {
    position: fixed;
    display: flex;
    right: 0;
}

/* Design Footer */
#footerid {
    background: rgb(35, 110, 223);
    color: black;
    font-weight: bold;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
    margin-bottom: 0;
    padding: 10px 0;
    border: 2px solid black;
}

/* Titel unterstrichen */
h1, h2 {
    text-decoration: underline;
}

/* Seitenüberschrift grösser */
.titel {
    font-size: 50px;
}

/* Bilder sollen 75% der Breite einnehmen */
img {
    width: 75%;
}

/* Design für Code */
code {
    background: rgb(0, 0, 0);
    font-style: italic;  
    border: 2px solid rgb(112, 112, 112);
    border-radius: 7px;
    display: block;
    margin: 0 4%;
    color: white;
}

/* Wenn normaler Text unterstrichen sein soll */
.underline {
    text-decoration: underline;
}

/* Links im Text oder Listen soll dick sein */
p a, dd a {
    font-weight: bold;
}

/* Navigationsleiste 15 Pixel von rechts anzeigen */
nav {
    margin-right: 15px;
}

/* Nav in einer Zeile anzeigen */
.dropdown, .button {
position: relative;
display: inline-block;
}

/* Dropdownmenü Inhalt versteckt */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
}

/* Links im Dropdownmenü */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Hintergrundfarbe im Dropdownmenü beim hovern verdunkeln */
.dropdown-content a:hover {
    background-color: rgb(209, 209, 209);
}

/* Inhalt beim hovern anzeigen im Dropdownmenü */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Hintergrundfarbe von den Knöpfen beim hovern verdunkeln */
.dropdown:hover .dropbtn0 {
    background-color: rgb(170, 0, 0);
    box-shadow: 9px -9px 10px -4px  rgb(170, 0, 0);
}
.dropdown:hover .dropbtn1 {
    background-color: rgb(35, 143, 31);
    box-shadow: 9px -9px 10px -4px rgb(35, 143, 31)
}
.dropdown:hover .dropbtn2 {
    background-color: rgb(91, 5, 126);
    box-shadow: 9px -9px 10px -4px rgb(91, 5, 126);
}
.button:hover .btn3 {
    cursor: pointer;
    background-color: rgb(10, 129, 129);
    box-shadow: 9px -9px 10px -4px rgb(10, 129, 129);
}

/* Dropdown Button 0 Design */
  .dropbtn0 {
    background-color: rgb(219, 13, 13);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    box-shadow: 9px -9px 10px -4px rgb(219, 13, 13);
}

/* Dropdown Button 1 Design */
.dropbtn1 {
    background-color: rgb(29, 173, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    box-shadow: 9px -9px 10px -4px rgb(29, 173, 0);
}

/* Dropdown Button 2 Design */
.dropbtn2 {
    background-color: rgb(125, 26, 190);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    box-shadow: 9px -9px 10px -4px rgb(125, 26, 190);
}

/* Button 3 Design */
.btn3 {
    background-color: rgb(7, 153, 163);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    box-shadow: 9px -9px 10px -4px rgb(7, 153, 163);
}

/* Links die nicht das Link Design übernehmen sollen */
.notLinkDesign {
    text-decoration: none;
    color: currentColor;
}

/* Tabellentitel Design */
th {
    background: rgb(76, 125, 240);
    border: 2px solid black;
    padding: 2% 0;
    width: 50%;
}

/* Tabellenfelder Design */
td {
    padding: 2%;
    border: 2px solid black;
    background: rgb(58, 148, 247);
    text-align: center;
}

/* Media-Query 1100px */
@media (max-width: 1100px) {
    body {
        margin: 0 10% 5% 10%;
    }
    .B1 {
        max-width: 600px;
    }
}

/* Media-Query 768px */
@media (max-width: 768px) {
    .dropdown, .button {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin: 2px 10px 2px 2px;
        text-align: left;
    }

    body {
        font-size: 60%;
        margin: 0 3% 6% 3%;
    }

    .titel {
        font-size: 30px;
    }

    .dropbtn0 {
        font-size: 10px;
        padding: 7px 4px;
        box-shadow: none;
    }

    .dropbtn1 {
        font-size: 10px;
        padding: 7px 4px;
        box-shadow: none;
    }

    .dropbtn2 {
        font-size: 10px;
        padding: 7px 4px;
        box-shadow: none;
    }

    .btn3 {
        font-size: 10px;
        padding: 7px 4px;
        box-shadow: none;
    }

    .B1 {
        max-width: 500px;
    }
}